@charset "UTF-8";

@font-face {
    font-family: idroid;
    src: url(pacote-projeto-d010/fontes/idroid.otf) format(opentype);
}

body {
    background-color: #84E1AD;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    
}

header {
    background-image: linear-gradient(to top, #1A5E38, #84E1AD);
    padding-left: 10px;
    padding-bottom: 10px;
    box-shadow: 1px 5px 10px rgba(36, 36, 36, 0.274);
    
    
}

header > h1 {
    color: white;
    font-family: Oswald;
    font-size: 30px;
    font-weight: lighter;
    text-align: center;

} 

header > p {
    color: white;
    text-align: center;
    font-size: 14px;
    width: 350px;
    margin: auto;
    padding-bottom: 25px;
}

nav > a{
    color: white;
    text-decoration: none;
    text-align: left;
    font-size: 15px;
    padding: 10px;    
}

#home:hover  {
    background-color: #84E1AD;
    padding: 2px 10px 10px 10px;
    border-radius: 8px 8px 0px 0px;
    
}
#noticias:hover  {
    background-color: #84E1AD;
    padding: 2px 10px 10px 10px;
    border-radius: 8px 8px 0px 0px;
}
#curio:hover  {
    background-color: #84E1AD;
    padding: 2px 10px 10px 10px;
    border-radius: 8px 8px 0px 0px;
}
#fale:hover  {
    background-color: #84E1AD;
    padding: 2px 10px 10px 10px;
    border-radius: 8px 8px 0px 0px;
}

main {
    background-color: white;
    width: 800px;
    max-width: 850px;
    padding: 10px 20px 10px 20px;
    margin: auto;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.432);
    border-radius: 0px 0px 15px 15px ;
}

h1 {
    font-family: idroid;
    font-size: 32px;
    color: #357251;
}

h2 {
    font-family: idroid;
    color: #357251;
    background-image: linear-gradient(to right, #C4EBD5, white);
    padding-left: 10px;
    
}

h3 {
    background-color: #2FA866;
    color: white;
    margin-bottom: 0px;
    padding: 10px;
    width: 780px;
    border-radius: 15px 15px 0px 0px;
    font-size: 15px;
}

p {
    text-indent: 30px;
    text-align: justify;
}

#image {
    margin: auto;
}



#extra {
    background-color: #C4EBD5;
    padding: 1px 10px 10px 10px;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 3px 2px 8px rgba(128, 128, 128, 0.671);
}

span {
    display: inline-block;
    vertical-align: middle;  
    margin: auto;

}

#esquerda {
    list-style-type: none;
    padding: 0px;
}

#direita {
    list-style-type: none;
    margin-left: 100px;
}

footer {
    background-color: #1A5C38;
    color: white;
}

footer > p {
    text-align: center;
    padding: 5px;
    font-size: 13px;
    
}


